body {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

.root-layout {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 30px;

    height: 100vh;
    width: 100vw;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-close {
    display: flex;
    justify-content: center;

    padding: 0;

    width: 35px;
    height: 35px;

    border-radius: 50%;

    font-size: 1.4rem;
}
