.home {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 2rem;
}

.btn-home {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.btn-home .icon {
    transition: all 0.3s ease-in-out;
}

.btn-home:hover .icon {
    transform: scale(1.2);
}
