.options {
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background: var(--background-alt);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;

    box-shadow: 0 0 50px var(--focus);

    box-sizing: border-box;
    padding: 30px;
}

.select-opponent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-opponent select {
    background: var(--button-base);

    font-size: 3rem;
    padding: 0 20px 0 0;
}

.select__xo {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.emoji {
    font-size: 3rem;

    user-select: none;
}
